.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.profile a{
  color: #999;
}

.follows {
  display: flex;
  align-items: center;
}

.profileIcon {
  margin-left: 20px;
  cursor: pointer;
}

.profile img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}